<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>[+title+]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h2>W1 Music</h2>
        <ul>
            <li><a href="index.php">Home</a></li>
            <li><a href="index.php?page=artists">Artists</a></li>
            <li><a href="index.php?page=songs">Songs</a></li>
        </ul>
        <h1>[+heading+]</h1>
        
        <h2>[+tblheading+]</h2>
        <table>
[+content+]